/* You can add global styles to this file, and also import other style files */
.products{
    column-count: 3;
    column-gap: 0.5em;
}

.product-card{
    display: inline-block;
    width: 100%;
    margin: 5px 0;
}